<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>

	<link href="https://fonts.googleapis.com/css?family=Work+Sans:400,500,600,700,800,900&display=swap"
		rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap" rel="stylesheet">

	<style>
		div {
			text-align: center;
		}

		p {
			text-align: center;
		}

		img {
			max-width: 300px;
			max-height: 200px;
			display: block;
			margin: 0 auto;
		}

		.text-center {
			text-align: center;
		}

		hr {
			max-width: 50%;
			color: blue;
		}
	</style>
</head>

<body>
	<header>
		<img src="https://res.cloudinary.com/kts-france/image/upload/v1657143212/kts-logo_ttjxi2.png" alt="">
	</header>
	<p>Hello KTS team</p>
	<p>Kindly note that {{lastName}} {{firstName}}, booked the following excursion:</p>
	<img src=`{{packageUrl}}` class="rounded mx-auto d-block" alt="...">
	<br> <br>
	<h2 class="text-center">{{eventTitle}}</h2>
	<div>{{packageDescription}}</div>
	<div>At the following price: {{packagePrice}} EUR</div>
	{{!-- <div>PayPal Payment ID: {{paypalID}} </div> --}}
	<br>
	<br>
	<p>Find the customer details below:</p>
	<div>First Name: {{firstName}}</div>
	<div>Last Name: {{lastName}}</div>
	<div>Email: {{email}}</div>
	<div>Phone Number: {{Phone}}</div>
	<div>Whatsapp Number: {{whatsapp}}</div>
	<div>Date Of Birth: {{dob}}</div>
	<div>Quantity Purchased: {{packageQty}}</div>
	<hr>
	<br>
	<br>
	<footer>
		<h3 class="text-center"><b>KTS Events</b></h3>
		<div>47 RUE DES MATHURINS, 75008, paris</div>
		<br>
		<div>🕻 +33 1 58 36 66 66</div>
		<div>📧 incoming@ktsvoyages.fr</div>
		<div>🌐 https://ktsgroup.info/</div>
	</footer>



</body>


</html>