<div class="boxOwner">
	<h2 class="header_two">Agreed On Packages</h2>
	<div class="row">
		<div class="col-md-12">
			<% for(let package of currentEvent.packages){ %>
				<div class="card cardHead">
					<img class="card-img-top" src="<%= package.image_url %> " alt="Card image cap">
					<div class="card-body">
						<h5 class="card-title">
							<%= package.title %>
						</h5>
						<p class="card-text">
							<%= package.description %>
						</p>
					</div>

				</div>
				<ul class="list-group list-group-flush">
					<% let counter=1 %>
						<% for(let option of package.packageOption){ %>
							<% if(option.optionDescription !=='' ){ %>
								<li class="list-group-item">
									<h4>Option #<%= counter %>
									</h4>
									<textarea type=" text" placeholder="First Option"
										class="form-control margin-element" rows="5" cols="50"
										disabled><%= option.optionDescription %> </textarea>
									<a href="" class="btn btn-primary">Price: <%= option.price %> $</a>
								</li>
								<% counter++ %>
									<% } %>
										<%} %>
				</ul>
				<% } %>
		</div>
	</div>
	<!-- <h2 class="header_two">Insert Invitees Emails List</h2>
	<div class="row">
		<div class="col-md-12 center-element">
			<form class="form-group" enctype="multipart/form-data" action="/event-owner/home/<%= eventid  %> "
				method="POST">
				<input type="file" class="form-control margin-element" name="myFile" id="myFile" required />
				<input type="submit" class="btn btn-primary">
			</form>
		</div>
	</div> -->
</div>