<div class="boxOwner">
	<h2 class="header_two">Agreed On Packages</h2>
	<div class="row">
		<div class="col-md-12">
			<% for(let package of currentEvent.packages){ %>
				<div class="card cardHead">
					<img class="card-img-top" src="<%= package.image_url %> " alt="Card image cap">
					<div class="card-body">
						<h5 class="card-title">
							<%= package.title %>
						</h5>
						<p class="card-text">
							<%= package.description %>
						</p>
					</div>

				</div>
				<ul class="list-group list-group-flush options-list">
					<li class="list-group-item option-card">
						<h4>Price Includes
						</h4>
						<div class="option-container">
							<textarea type=" text" placeholder="First Option" class="form-control margin-element"
								rows="5" cols="50" disabled><%= package.priceInclude%> </textarea>
						</div>
					</li>
					<li class="list-group-item option-card">
						<h4>Price Exclude
						</h4>
						<div class="option-container">
							<textarea type=" text" placeholder="First Option" class="form-control margin-element"
								rows="5" cols="50" disabled><%= package.priceExclude%> </textarea>
						</div>
					</li>
					<li class="list-group-item option-card">
						<h4>Price On Demand
						</h4>
						<div class="option-container">
							<textarea type=" text" placeholder="First Option" class="form-control margin-element"
								rows="5" cols="50" disabled><%= package.priceDemand%> </textarea>
						</div>
					</li>
				</ul>
				<ul class="list-group list-group-flush options-list">
					<% let counter=1 %>
						<% for(let option of package.packageOption){ %>
							<% if(option.optionDescription !=='' && option.availableQuantity> 0 ){ %>
								<li class="list-group-item option-card">
									<h4>Option #<%= counter %>
									</h4>
									<div class="option-container">
										<textarea type=" text" placeholder="First Option"
											class="form-control margin-element" rows="5" cols="50"
											disabled><%= option.optionDescription %> </textarea>
										<form class="form-group"
											action="/event-owner/<%= eventid %>/<%= package._id.toString() %>/<%=counter%>"
											method="POST">
											<label>
												Price: <%= option.price %> €
											</label> <br>
											<label>
												Available Quantity: <%= option.availableQuantity%>
											</label> <br>
											<script src="//checkout.stripe.com/v2/checkout.js" class="stripe-button"
												data-key="<%= key %>" data-amount="<%= option.price %>00"
												data-currency="eur" data-name="Package Pricing"
												data-description="Buy Package for the selected event"
												data-locale="auto">
												</script>
											<!-- <button class="btn btn-primary" id="price">Price: <%= option.price %>
											</button> -->
										</form>
									</div>
								</li>
								<% counter++ %>
									<% } %>
										<%} %>
				</ul>
				<% } %>
		</div>
	</div>
	<!-- <h2 class="header_two">Insert Invitees Emails List</h2>
	<div class="row">
		<div class="col-md-12 center-element">
			<form class="form-group" enctype="multipart/form-data" action="/event-owner/home/<%= eventid  %> "
				method="POST">
				<input type="file" class="form-control margin-element" name="myFile" id="myFile" required />
				<input type="submit" class="btn btn-primary">
			</form>
		</div>
	</div> -->
</div>