<div class="boxOwner">
	<h2 class="header_two">Agreed On Packages</h2>
	<div class="row">
		<div class="col-md-12">
			<% for(let package of currentEvent.packages){ %>
				<div class="card cardHead">
					<img class="card-img-top" src="<%= package.image_url %> " alt="Card image cap">
					<div class="card-body">
						<h5 class="card-title">
							<%= package.title %>
						</h5>
						<p class="card-text">
							<%= package.description %>
						</p>
					</div>

				</div>
				<ul class="list-group list-group-flush options-list">
					<% if(package.priceInclude.trim()) {%>
						<li class="list-group-item option-card">
							<h4>Price Includes
							</h4>
							<div class="option-container">
								<textarea type=" text" placeholder="First Option" class="form-control margin-element"
									rows="5" cols="50" disabled><%= package.priceInclude%> </textarea>
							</div>
						</li>
						<% } %>

							<% if(package.priceExclude.trim()) {%>
								<li class="list-group-item option-card">
									<h4>Price Exclude
									</h4>
									<div class="option-container">
										<textarea type=" text" placeholder="First Option"
											class="form-control margin-element" rows="5" cols="50"
											disabled><%= package.priceExclude%> </textarea>
									</div>
								</li>
								<% } %>
									<% if(package.priceDemand.trim()) {%>
										<li class="list-group-item option-card">
											<h4>Price On Demand
											</h4>
											<div class="option-container">
												<textarea type=" text" placeholder="First Option"
													class="form-control margin-element" rows="5" cols="50"
													disabled><%= package.priceDemand%> </textarea>
											</div>
										</li>
										<% } %>
				</ul>
				<ul class="list-group list-group-flush options-list">
					<% let counter=1 %>
						<% for(let option of package.packageOption){ %>
							<% if(option.optionDescription !=='' && option.availableQuantity> 0 ){ %>
								<li class="list-group-item option-card">
									<h4>Option #<%= counter %>
									</h4>
									<div class="option-container">
										<textarea type=" text" placeholder="First Option"
											class="form-control margin-element" rows="5" cols="50"
											disabled><%= option.optionDescription %> </textarea>
										<div class="form-group">
											<label>
												Price: <%= option.price %> €
											</label> <br>
											<label>
												Available Quantity: <%= option.availableQuantity%>
											</label> <br>

											<a class="btn btn-primary"
												href="/event-owner/<%= eventid %>/<%= package._id.toString() %>/<%=counter%>">
												Pay via PayPal
											</a>
										</div>
									</div>
								</li>
								<% counter++ %>
									<% } %>
										<%} %>
				</ul>
				<% } %>
		</div>
	</div>
</div>